version: 2.1
jobs:
  build:
    docker:
      - image: hashicorp/terraform:light

    working_directory: ~/project

    steps:
      - checkout

      - run:
          name: Initialize Terraform
          command: |
            terraform init

      - run:
          name: Plan Terraform Changes
          command: |
            terraform plan -out=tfplan

      - run:
          name: Apply Terraform Changes
          command: |
            terraform apply -auto-approve tfplan
workflows:
  version: 2
  build:
    jobs:
      - build

      
